{{> menu active="about"}}

<section class="hero">
  <div class="hero-body has-text-centered">
    <p class="title ">
      Placemarker : Organise and manage your church visits! </p>
    <p class="box">
      <i class="fas fa-solid fa-cross fa-10x" style="color:darkorange"></i>
      <i class="fas fa-plus fa-4x" style="color:deepskyblue"></i>
      <i class="fas fa-star-and-crescent fa-10x" style="color:gold"></i>
      <i class="fas fa-plus fa-4x" style="color:deepskyblue"></i>
      <i class="fas fa-bahai fa-10x" style="color:gold"></i>
      <i class="fas fa-plus fa-4x" style="color:deepskyblue"></i>
      <i class="fas fa-dove fa-10x" style="color:gold"></i>
      <i class="fas fa-plus fa-4x" style="color:deepskyblue"></i>
      <i class="fas fa-peace fa-10x" style="color:gold"></i>
    </p>
    <p class="box">
      This Placemarker App is designed for the admirer of Churches on the go!
      <br>
      When you're out on your holidays, visiting towns, enter the diocese you're in.
      <br>
      Then populate that with the local churches in the area so you end up with a collection of churches you visited!
    </p>
  </div>
</section>