{{> welcome-menu}}

<div class="columns is-vcentered ">
  <div class="column has-text-centered">
    <p> Welcome to Placemarker, an app to record your trips to locations around Ireland and create a collection of
      churches and their info in each location</p>
    <br>
    <br>
    <h> Sign up or Log in...</h>
  </div>
  <div class="column">
    <img src="/images/clon-church.png">
  </div>
</div>