{{> menu}}

<section class="section columns is-vcentered">
  <div class="column has-text-centered">
    <div class="title">
      {{placemarker.title}}
    </div>
    {{> list-details}}
    {{> add-details}}
  </div>
  <!--
  <div class="column">
    {{> placemarker-image }}
  </div>
  -->
</section>