<form action="/dashboard/addplacemarker" method="POST">
  <div class="field">
    <label class="label">Placemarker Name</label> <input class="input" type="text"
                                                         placeholder="Enter the Place-Marker Name" name="title">
  </div>
  <button class="button is-link">Add Place-Marker</button>
</form>